<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="" />    
    
    <title>Fuzzy Python ODH</title>
  </head>
  <body>
    
    <div id="root">
        <p>Para o cálculo ODH insira os parâmetros: (psicolicas,assistencia,amparo,transporte,ciclovia,esporte,alimento)</p>
        <p>/defuzzy/odh?psi=8&ass=7&apr=7&tra=7&cic=7&esp=7&ali=7</p>        
    </div>    
    
  </body>
</html>